{% extends 'base.html.twig' %}

{% block title %}Edit Borrow{% endblock %}

{% block body %}
    <h1>Modifier un emprunt</h1>

    {{ include('borrow/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

<div class="NavButton">
    <a href="{{ path('app_borrow_index') }}">Retour à la liste des emprunts</a>
</div>

    {{ include('borrow/_delete_form.html.twig') }}
{% endblock %}
