{% extends 'base.html.twig' %}

{% block title %}New Borrow{% endblock %}

{% block body %}
    <h1>Ajouter un emprunt</h1>

    {{ include('borrow/_form.html.twig') }}
<div class="NavButton">
    <a href="{{ path('app_borrow_index') }}">Retour à la liste</a>
</div>
{% endblock %}
